.preview-image {
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}
.preview-image .image-show {
  width: 100%;
  height: 100%;
  transition: all 1s ease-in-out;
}
.preview-image .preview-wraper .preview-item {
  position: absolute;
  width: 100%;
}