.preview-mobile {
  display: none;
}

@media all and (max-width: 1200px) {
  .preview-wraper {
    display: none;
  }

  .preview-mobile {
    display: block;
    width: 100%;
    margin: -17% auto 0 auto;
    position: relative;
    background: #212529;
  }

  .preview-mobile-content {
    max-width: 960px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }

  .preview-mobile-item {
    margin-bottom: 30px;
  }

  .modal-mobile-img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    max-height: 250px;
  }
}

@media (max-width: 992px) {
  .preview-mobile-content {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .preview-mobile-content {
    max-width: 540px;
  }
}

@media (max-width: 576px) {
  .preview-mobile-content {
    max-width: 100%;
  }
}
