.header-bar {
  background-color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid;
}

.header-bar .header-bar-title {
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
  color: #666
}

.header-bar .header-bar-btn .icon-close-modal svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
