@keyframes cssAnimation {
  to   { opacity: 1; }
}

.modal-detail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    overflow-x: hidden;
  }
  
  .modal-detail::before {
    opacity: 1;
    transition: all 0.8s;
    transition-delay: 0.5s;
    content: "";
    position: fixed;
    right: 0;
    top: 45%;
    transform: translateY(-50%) scale(1);
    z-index: 11;
    border-radius: 100%;
    width: 56%;
    height: 100%;
    box-shadow: 0 0 1vw 66vw rgba(0, 0, 0, 0.75);
  }
  
  .modal-detail::after {
    opacity: 1;
    transition: all 0.8s;
    transition-delay: 0.5s;
    content: "";
    position: fixed;
    right: 0;
    top: 45%;
    transform: translateY(-50%) scale(1);
    z-index: 11;
    border-radius: 100%;
    width: 56.055%;
    height: 100.08%;
    box-shadow: inset 0 0 89px 88px rgba(0, 0, 0, 0.75);
  }
  
  .modal-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
  }
  
  .modal-container.img-content {
    width: 70%;
  }
  
  .modal-container .infor-content {
    width: 40%;
    padding: 20px;
    height: 100%;
    padding-top: 100px;
    padding-left: 76px;
    z-index: 20;
  }
  
  .modal-content {
    position: relative;
  }

  .modal-detail .preview-title {
    font-size: 35px;
  }
  
  .slider-button {
    padding: 0 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 30px;
    width: 100%;
    z-index: 20;
  }
  
  .slider-button .group-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .slider-button .group-btn img {
    width: auto;
    height: auto;
  }
  
  .slider-button .group-btn:last-child img {
    transform: rotate(180deg);
  }
  
  .slider-button .group-btn p {
    margin: 0 20px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: "Silk Serif Regular";
    color: white;
    text-transform: capitalize;
    text-decoration: underline;
    font-style: italic;
    text-underline-offset: 4px;
  }
  
  .slider-button .group-btn button {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid white;
  }
  
  .modal-title-bound span {
    color: #c0a680;
    font-family: "Silk Serif Regular Italic";
    position: relative;
    line-height: 1.2;
    display: inline-block;
    bottom: 4px;
    font-size: 25px;
    text-decoration: underline;
  }
  
  .modal-content-img {
    margin-bottom: 20px;
    height: auto !important;
  }
  
  .modal-content-title {
    color: #fff;
    letter-spacing: 18px;
    font-size: 35px;
    line-height: 1.2;
    display: inline-block;
    font-family: "Silk Serif Regular";
    text-transform: uppercase;
    margin: 25px 0 25px 25px;
    font-weight: 400;
  }
  
  .modal-content-description,
  .modal-content-less-description {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: white;
    margin: 0;
    font-family: "Silk Serif Regular";
    padding-left: 40px;
  }
  
  .modal-content-less-description {
    padding-left: 25px;
  }
  
  .modal-content-description::first-letter {
    color: #c0a680;
    initial-letter: 3;
    margin-right: 10px;
    margin-bottom: 3px;
  }
  
  .view-area {
    width: 700px;
    height: 600px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid transparent;
  }

  .modal-mark {
    animation: cssAnimation 0s 1s forwards;
    opacity: 0; 
    transition: "all 1s ease-in-out",
  }

  .modal-mark .white-mark {
    width: 9px;
    height: 9px;
  }

  .modal-mark svg line {
    transform: scale(1.5);
  }
